.navbar{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}



.navbar ul{
    margin:  0;
    padding: 0;
}
.navbar ul a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
color: #565673;
display: inline-block;
padding: 0 10px;
}
.Search form{
    display: flex;
    margin: 0 10px;
}
.searchinput{
    border: 0;
    width:0;
    transition: width 0.1s ease-in;
}
.searchinput:focus{
    outline: none;

}
.searchinput.active{
    width: 150px;
}